
label {
  display: block;
  margin-top: 10px;
}

label.error { float: none;
  color: red;
  margin: 0 .5em 0 0;
  vertical-align: top;
  font-size: 10px
}

p {
  clear: both;
}

.submit {
  margin-top: 1em;
}

em {
  font-weight: bold;
  padding-right: 1em;
  vertical-align: top;
}

.geral{
  height: 100%;
  width: 100%;
  background-color: #353535;
}

.form-horizontal{
  background-color: white;
  margin: 50px 0 20px 0;
  border: 1px solid;
  border-radius: 12px;
  border-color: #F79633;
}

.form-horizontal h2{
  margin: 15px 10px 50px 10px;
  padding: 5px 0px 10px 10px;
  border-bottom: 1px solid;
  border-color: rgba(247, 150, 51, 0.5);
}

.form-group .col-md-3 {
  width: 222px;
}

.necessidades{
  margin-bottom: 35px;
}

.ship{
  text-align: right;
  padding-right: 1px;
  display:block;
}

.shipImg{
  width: 200px;
}

.btn{
  text-align: right;
}
